{% extends "base.html" %}

{% block content %}
<div class="card shadow-sm p-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Вход</h2>
            <form method="POST" class="border p-4 rounded shadow-sm">
                {{ form.hidden_tag() }}

                <div class="mb-3">
                    <label for="{{ form.username.id }}" class="form-label">{{ form.username.label }}</label>
                    {{ form.username(class="form-control custom-input") }}
                </div>

                <div class="mb-3">
                    <label for="{{ form.password.id }}" class="form-label">{{ form.password.label }}</label>
                    {{ form.password(class="form-control custom-input") }}
                </div>

                <div class="mb-3 text-center">
                    <button type="submit" class="btn btn-success">Войти</button>
                </div>

                <div class="mt-6 flex justify-center items-center">
                    <p class="text-center">
                        Нет аккаунта?
                        <a href="{{ url_for('register_client_route') }}" class="text-sm font-medium text-custom-purple hover:underline ml-2">
                            Зарегистрироваться</a>
                    </p>
                    <p class="text-center">
                        <a href="{{ url_for('forgot_password') }}"
                           class="button-purple"
                           target="_blank">
                            Восстановить пароль через Telegram
                        </a>
                    </p>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}
