{% extends "base.html" %}

{% block title %}Цены{% endblock %}

{% block content %}
<h1>Цены на занятия</h1>
    <a href="{{ url_for('add_price_list_route') }}" class="btn btn-success">Добавить абонемент</a>
    <a href="{{ url_for('update_price_list_route') }}" class="btn btn-success">Изменить данные об абонементах</a>


<table>
    <tr>
        <th>Тип занятия</th>
        <th>Цена</th>
    </tr>
<table>

    <div class="col-md-6 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <ul class="list-group">
                            {% for price in price_list %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <strong>{{ price[1] }}: </strong> {{ price[2] }} руб.
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
{% endblock %}
